* {
  margin:0;
  padding:0;
}
.el-select {
  height: 26px;
  line-height: 26px;
  width: 205px;
  .el-input__inner {
    height: 26px;
    line-height: 26px;
    width: 205px;
    background: none;
    border: none;
    color: #fff;
    font-size: 13px;
  }
  .el-input__icon {
    line-height: 26px;
  }
}
